* {
  /*border: 1px solid green;*/
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  font-family: sans-serif;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;

  .chart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 15rem;
    gap: 0.5rem;

    canvas {
      height: 100%;
      width: 100%;
    }
  }
}

.button {
  padding: 0.15rem 0.3rem;
  /*text-transform: uppercase;*/
}

.slider {
  width: 20rem;
}

