@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  /*border: 1px solid green;*/
  box-sizing: border-box;
}

html {
  --text-color: #3d3d3d;
  --text-color-light: #575757;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  flex-direction: column;
  font-family: Inter, sans-serif;
  color: var(--text-color);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;

  .chart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: -0.07rem;
      color: var(--text-color-light);
      margin: 0.5rem;
    }

    .canvas-container {
      p {
        line-height: 0;
      }

      .y-axis-label {
        writing-mode: tb;
        rotate: 180deg;
      }

      text-transform: uppercase;
      font-size: 0.6rem;
      letter-spacing: 0.03rem;
      gap: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      /*margin-bottom: 0.3rem;*/

      .canvas-wrapper {
        width: 100%;
        height: 100%;
        canvas {
          /*height: 100%;
          width: 100%;*/
          height: 20rem;
          width: 26rem;
          aspect-ratio: 1;
        }
      }
    }
  }
}

.button {
  padding: 0.15rem 0.3rem;
  /*text-transform: uppercase;*/
}

.slider {
  width: 20rem;
}

/* HEADER AND FOOTER */

.topnav {
  overflow: hidden;
  background-color: var(--text-color);
  color: white;
  top: 0;
  padding: 0 50px;
  width: 100%;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.topnav a:hover {
  background-color: var(--text-color-light);
}

.footer {
  background-color: var(--text-color);
  color: white;
  text-align: left;
  width: 100%;
  padding: 14px 50px;
}

