@use 'App';

#encoding-container {
    @extend .chart-sub-control;
    /*@extend .control-container;*/
    width: fit-content;
    height: fit-content;
    flex: unset;
    padding-top: 0.1rem;
    // padding-bottom: 0.3rem;*/
    box-shadow: none;
    // padding: 0;

    & > :last-child {
        margin-bottom: unset;
    }

    #encoding-label {
        display: flex;
        align-items: center;
        gap: 1ch;
        font-family: Inter, sans-serif;

        input {
            width: 8ch;
        }
    }
}