$line-color-1: blue;
$line-color-2: orange;
$line-width: 4px;

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 3px;
    border-color: var(--legend-border);
    margin-bottom: -0.5rem;

    p {
        margin: 0;
        line-height: 0.5rem;
        font-size: 0.7rem;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
        justify-self: center;

        &:nth-of-type(1):before {
            background: $line-color-1;
        }

        &:nth-of-type(2):before {
            background: $line-color-2;
        }

        &:before {
            content: ' ';
            width: 2rem;
            height: $line-width;
            margin-top: 0.1rem;
        }
    }
}