.MuiListItemButton-root {
  border: 1px solid var(--button-active) !important;
  border-radius: 6px !important;
  padding: 0 0.5rem !important;
  margin: 0 !important;
  background-color: white !important;
  display: flex !important;
  justify-content: space-between !important;
  width: max-content !important;
  transition: all 0.2s !important;
}
.MuiListItemButton-root.Mui-selected {
  background-color: var(--primary-color-light) !important;
}
.MuiListItemButton-root:hover:not(.MuiListItemButton-root.Mui-selected) {
  background-color: var(--light-gray) !important;
  cursor: pointer;
}

.MuiListItem-root {
  padding: 0.1rem 0 !important;
}

.MuiList-root {
  padding-top: 0 !important;
}

.MuiListItemText-root {
  margin: 0 !important;
}

.MuiSvgIcon-root {
  width: 1rem !important;
  height: 1rem !important;
  padding: 0;
}

.preset-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 750px) {
  .preset-list-container #preset-list {
    grid-template-columns: repeat(1, 1fr) !important;
    max-width: 15rem;
  }
}
.preset-list-container #preset-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0.5rem;
}
.preset-list-container #preset-list .MuiIconButton-root {
  padding: 0.3rem;
}
.preset-list-container #preset-list #preset-labels {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0 0.5rem !important;
}
.preset-list-container #preset-list #preset-labels * {
  flex: unset;
}
.preset-list-container #preset-list #start-label, .preset-list-container #preset-list #end-label {
  line-height: 1rem !important;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  position: relative;
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
  width: 3rem;
  display: block;
  text-align: center;
}
.preset-list-container #preset-list span {
  margin: 0;
  line-height: 0 !important;
}
.preset-list-container #preset-list .preset-item-text {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.preset-list-container #preset-list .preset-item-text p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4rem;
  margin: 0.1rem 0;
  font-size: 0.8333rem;
  width: 3rem;
  text-align: center;
}
.preset-list-container #preset-button-panel {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.preset-list-container #preset-button-panel .preset-button, .preset-list-container #preset-button-panel #save-preset-button, .preset-list-container #preset-button-panel #load-preset-button, .preset-list-container #preset-button-panel #add-preset-button {
  margin-top: 0.5rem;
  border-radius: 6px;
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.02rem;
  transition: all 0.2s;
}
.preset-list-container #preset-button-panel .preset-button.Mui-disabled, .preset-list-container #preset-button-panel .Mui-disabled#save-preset-button, .preset-list-container #preset-button-panel .Mui-disabled#load-preset-button, .preset-list-container #preset-button-panel .Mui-disabled#add-preset-button {
  color: var(--button-active);
}
.preset-list-container #preset-button-panel #add-preset-button {
  border-width: 2px;
  margin-right: auto;
}
.preset-list-container #preset-button-panel .file-input {
  display: none;
}

/*# sourceMappingURL=PresetComponent.css.map */
