.MuiListItemButton-root {
    border: 1px solid var(--button-active) !important;
    border-radius: 6px !important;
    padding: 0 0.5rem !important;
    margin: 0 !important;
    background-color: white !important;
    display: flex !important;
    justify-content: space-between !important;
    width: max-content !important;
    gap: 2.0rem;

    &.Mui-selected {
        background-color: var(--primary-color-light) !important;
    }
}

.MuiListItem-root {
    width: fit-content !important;
    padding: 0.2rem 0.4rem !important;
}

.MuiListItemText-root {
    margin: 0 !important;
}

.MuiSvgIcon-root {
    width: 1.3rem !important;
    aspect-ratio: 1 !important;
}

.preset-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    h3 {
        line-height: 0;
        text-transform: uppercase;
        letter-spacing: 0.02rem;
        font-size: 0.6rem;
        font-weight: 700;
    }

    #preset-list {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(3, 1fr);

        .preset-item-text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 1.4rem;
                margin: 0.1rem 0.2rem;
                font-size: 0.8333rem;

                span {
                    line-height: 0.4rem;
                    text-transform: uppercase;
                    letter-spacing: 0.02rem;
                    position: relative;
                    font-size: 0.5rem;
                    // font-weight: 700;
                }
            }

        }
    }
    #add-preset-button {
        color: var(--text-color-light);
        font-weight: 700;
        font-size: 0.6rem;
        letter-spacing: 0.02rem;
        transition: all 0.2s;
        border-width: 2px;
        border-radius: 6px;

        &.Mui-disabled {
            color: var(--button-active);
        }
    }

}



